* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  height: 50vh;
  width: 40vw;
  box-shadow: 0px 10px 20px rgb(165, 162, 162), 0px 0px 20px rgb(202, 202, 204);
}

.first {
  border-radius: 20px;
  background-color: blue;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 50%;
}

.t1 {
  font-size: large;
}

.t2 {
  border-radius: 100%;
  background: linear-gradient(200deg, rgb(0, 0, 134), rgb(0, 0, 221));
  box-shadow: 26px -26px 54px rgb(9, 9, 226), -26px 26px 54px blue;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.t3 {
  font-size: 3rem;
}

.t4 {
  font-size: x-small;
}

.t5 {
  font-size: larger;
}

.t6 {
  font-size: small;
}

.t1,
.t4,
.t6 {
  color: silver;
}

.t3,
.t5 {
  color: white;
}

.second {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  margin-left: 30px;
}

.s1 {
  font-size: 1.1rem;
}

.second div {
  display: flex;
  justify-content: space-between;
}

.s2,
.s3,
.s4,
.s5 {
  border: 1px;
  border-radius: 5px;
  padding: 10px 5px;
  width: 200px;
  margin: -20px 0;
}

span {
  font-size: small;
  font-weight: bold;
}

.s2 {
  background-color: rgb(255, 233, 225);
}

.s3 {
  background-color: rgb(255, 255, 221);
}

.s4 {
  background-color: rgb(227, 255, 227);
}

.s5 {
  background-color: rgb(236, 236, 255);
}

.ss1 {
  color: orangered;
}

.ss2 {
  color: rgb(117, 117, 0);
}

.ss3 {
  color: green;
}

.ss4 {
  color: blue;
}

.second div {
  color: rgb(110, 75, 75);
}

.ss {
  padding: 1px 3px;
  font-size: smaller;
  color: black;
  font-weight: bold;
}

button {
  background-color: blue;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .container {
    height: 40vh;
    width: 95vw;
  }

  .first {
    width: 53%;
    margin-right: 5px;
  }

  .s2,
  .s3,
  .s4,
  .s5 {
    width: 40vw;
    margin: -10px 0;
  }

  .second {
    width: 47%;
    margin-left: unset;
    padding-left: 5px;
  }
}
